<div >
    <span  class="header">head
      <ng-container >*</ng-container>
    </span>
  
    <mat-form-field
      *ngIf="formGroup && formControlName.length > 0"
      [appearance]="appearance"
      [formGroup]="formGroup"
      [hideRequiredMarker]="hideRequiredMarker"
    >
      <mat-label *ngIf="showLabel && label">cos
      </mat-label>
  
  
      <input
        #matInput
        [formControlName]="formControlName"
        [required]="formGroup | hasValidator: formControlName: 'required'"
        [type]="type"
        matInput
        placeholder="{{ placeholder | translate }}"
        [readonly]="readOnly"
        [step]="step"
        [max]="max"
        [min]="min"
      />
  
      <button
        (click)="clearFilter(f[formControlName], formControlName)"///////////////////////////////////////////////////////
        @fadeInOut
        aria-label="Clear"
        class="syl-filter__button syl-filter__button--clear"
        mat-icon-button
        matSuffix
        type="button"
      >
        <i class="eva eva-close-outline"></i>
      </button>
    </mat-form-field>
  </div>
